# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# sensitive / credentials
bot/cookies.json
bot/cookies.json.save

# logs & temp
*.log
bot/video-maker/temp-text.txt
bot/screenshots/

# bot build artifacts & generated media
bot/video-maker/props.json
bot/video-maker/public/audio.*
bot/video-maker/out/

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
